@media (max-width: 1800px) {
  .accordion {
    &__bg {
      display: none;
    }
  }
}

@media (max-width: 1440px) {
  .offer {
    &__bg {
      &-cart {
        right: 0px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .offer {
    &__bg {
      &-sphere {
        left: 10px;
      }
      &-cart {
        right: -150px;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    position: relative;
    &__wrapper {
      justify-content: space-between;
    }
    &__menu {
      display: none;
      position: absolute;
      flex-direction: column;
      top: 95px;
      left: 0;
      padding: 42px 0 50px 0;
      width: 100%;
      min-height: 328px;
      background-color: $main-color;
      transition: 0.5s all;
      z-index: 10;
      &_active {
        display: flex;
      }
      li {
        font-weight: 800;
        font-size: 17px;
        line-height: 27px;
        text-transform: uppercase;
        color: #ffffff;
        transition: 0.5s all;
        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
    &__burger-btn {
      display: flex;
      gap: 5px;
      padding-right: 70px;
      span {
        width: 13px;
        height: 13px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
  }
  .offer {
    background: rgba($color: #fff, $alpha: 0.3);
    &__bg {
      &-cylinder {
        right: 250px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__btn {
      display: none;
    }
    &__burger-btn {
      padding-right: 0;
    }
  }
  .offer {
    &__bg {
      &-bigEllipse {
        right: -110px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    min-height: 49px;
    padding: 9px 0;
    &__logo {
      width: 136px;
    }
    &__menu {
      top: 50px;
    }
  }
  .offer {
    padding-top: 0;
    padding-bottom: 51px;
    min-height: 732px;
    &__wrapper {
      position: inherit;
    }
    &__title {
      font-size: 27px;
    }
    &__descr {
      max-width: 335px;
      margin-bottom: 34px;
    }
    &__btn {
      width: 100%;
    }
    &__bg {
      display: none;
      &-mobile {
        display: block;
        margin-bottom: 40px;
      }
    }
  }
  .accordion {
    min-height: 100%;
    padding: 20px 0 30px 0;
    &__title {
      font-size: 27px;
      margin-bottom: 20px;
    }
    &__btn {
      gap: 20px;
      padding: 15px 23px 15px 24px;
      &::before {
        width: 15px;
        height: 15px;
      }
      &::after {
        right: 24px;
      }

      &-title {
        font-size: 17px;
        max-width: 233px;
      }
    }
    &__panel {
      padding: 4px 41px 46px 32px;
    }
    &__descr {
      font-size: 17px;
      padding-left: 25px;
    }
    .active {
      &::before {
        width: 15px;
        height: 15px;
      }
      &::after {
        right: 24px;
      }
    }
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
  .offer {
    &__title {
      font-size: 26px;
    }
  }
  .accordion {
    &__title {
      font-size: 23px;
    }
    &__btn {
      gap: 13px;
      padding: 15px 23px 15px 15px;
    }
    &__panel {
      padding: 4px 35px 46px 22px;
    }
  }
}
